appnope==0.1.3
asttokens==2.4.1
cloudpickle==3.0.0
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
distlib==0.3.7
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.1
Farama-Notifications==0.0.4
filelock==3.12.4
fonttools==4.41.1
gymnasium==0.29.1
importlib-metadata==6.8.0
importlib-resources==6.1.1
ipython==8.17.2
jedi==0.19.1
kiwisolver==1.4.4
matplotlib==3.7.2
matplotlib-inline==0.1.6
numpy==1.25.1
opencv-python==4.8.0.76
openpyxl==3.1.2
packaging==23.1
pandas==2.0.3
parso==0.8.3
pettingzoo==1.24.1
pexpect==4.8.0
Pillow==10.0.0
platformdirs==3.10.0
prompt-toolkit==3.0.40
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-notifier==0.5.0
pygame==2.5.2
Pygments==2.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
stack-data==0.6.3
traitlets==5.13.0
typing_extensions==4.8.0
tzdata==2023.3
virtualenv==20.24.5
wcwidth==0.2.9
zipp==3.17.0
