cloudpickle==3.0.0
contourpy==1.1.0
cycler==0.11.0
distlib==0.3.7
et-xmlfile==1.1.0
Farama-Notifications==0.0.4
filelock==3.12.4
fonttools==4.41.1
gymnasium==0.29.1
kiwisolver==1.4.4
matplotlib==3.7.2
numpy==1.25.1
opencv-python==4.8.0.76
openpyxl==3.1.2
packaging==23.1
pandas==2.0.3
pettingzoo==1.24.1
Pillow==10.0.0
platformdirs==3.10.0
psutil==5.9.5
py-notifier==0.5.0
pyparsing==3.0.9
pypiwin32==223
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
six==1.16.0
typing_extensions==4.8.0
tzdata==2023.3
virtualenv==20.24.5
win10toast==0.9
WinToaster==0.1.0
